

// Colors
$color-back-orange: hsl(31, 77%, 52%);
$color-back-darkCyan: hsl(184, 100%, 22%);
$color-back-veryDarkCyan: hsl(179, 100%, 13%);


// natural
$text: hsl(0, 0%, 100%);
$text-pargraph: hsla(0, 0%, 100%, 0.75);

// color background, heading, buttons
$color-multi: hsl(0, 0%, 95%);